<section>
    
    <input [(ngModel)]="category" type="text" placeholder="Category"/>
    <input (click) = "findNews(category)" type="submit" value="Search"/>
</section>


    <h3>Headline News for {{category}}</h3>
    <div class="article-container" *ngFor="let article of news.articles">
        <div class = "title-image-container">
            <div class="title">{{article.title}}</div>
            <img class="image" src="{{article.urlToImage}}">
        </div>
        <div class="description-container">
            <p>{{article.description}}</p>
        </div>

        <!-- <div>{{news.articles[2].content}}</div> -->
