.sidebar-nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before
{
    margin-right: 10px;    
}

button{
    background-color: transparent;
    border: transparent;
    color: royalblue;
    width: 150px;
    text-align: left;
}