<section>    
    <input [(ngModel)]="category" type="text" placeholder="Category"/>
    <input (click) = "findNews(category)" type="submit" value="Search"/>
</section>


    
    <div class="article-container" *ngFor="let article of news.articles">
        <div class = "title-image-container">
            <div class="article-title">{{article.title}}</div>
            <img class="image" src="{{article.urlToImage}}">
        </div>
        <div class="description-container">
            <p>{{article.description}}</p>
        </div>
        <div class="content-container">
            <p>{{article.content}}</p>
        </div>

        
