.sidebar-nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
.sidebar-nav ul li a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}

.sidebar-nav .offcanvas {
    width: 12vw;
    border: none;
}

button{
    background-color: transparent;
    border: transparent;
    color: royalblue;
}