<app-search></app-search>
<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }} Content</p>
    </header>
  </div> -->
<div class="sidebar-nav">
  <div class="offcanvas offcanvas-start shadow" tahlndex="-1" id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li><a href="#"><i class="bi bi-globe2"></i> <span class="item-text">General</span></a></li>
        <li><a href="#"><i class="bi bi-briefcase-fill"></i> <span class="item-text">Business</span></a></li>
        <li><a href="#"><i class="bi bi-cpu-fill"></i> <span class="item-text">Technology</span></a></li>
        <li><a href="#"><i class="bi bi-bicycle"></i> <span class="item-text">Sports</span></a></li>
        <li><a href="#"><i class="bi bi-radioactive"></i> <span class="item-text">Science</span></a></li>
        <li><a href="#"><i class="bi bi-heart-pulse-fill"></i> <span class="item-text">Health</span></a></li>
        <li><a href="#"><i class="bi bi-camera-reels-fill"></i> <span class="item-text">Entertainment</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="newsfeed">Content here</div>