<body class="home-container">
  <div class="search-app">
    <app-search></app-search>
  </div>

  <div class="newsfeed">
    <h2>Latest News</h2>
    <div class="article-container" *ngFor="let article of news.articles">

      <div class="article-content-container">

        <img class="image" src="{{article.urlToImage}}">
      </div>

      <div class="description-container">
        <div class="article-title">{{article.title}}</div>
        {{article.description}}
      </div>

      <button class="save-news" *ngIf="isLoggedIn" routerLink="user"
        >
        <i class="bi bi-box-arrow-down"></i>Save
      </button>
    </div>

  </div>
</body>