<h1>Latest News</h1>
<body class="home-container">
  <div class="search-app">
    <app-search></app-search>
  </div>

  <div class="newsfeed">
    
    <div class="article-container" *ngFor="let article of news.articles">

      <div class="article-content-container">

        <img class="image" src="{{article.urlToImage}}">
      </div>

      <div class="description-container">
        <div class="article-title">{{article.title}}</div>
        {{article.description}}
      </div>

      <button class="save-news" *ngIf="isLoggedIn" routerLink="user"
        >
        <i class="bi bi-box-arrow-down"></i>
      </button>

      <button class="url" *ngIf="isLoggedIn" routerLink="user"><a href="{{article.url}}">
        <i class="bi bi-link"></i></a>
      </button>

    </div>

  </div>
</body>