.home-container{
    max-width: 1200px;
}
.sidebar-nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
.sidebar-nav ul li a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}
.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}
.sidebar-nav .offcanvas {
    width: 12vw;
    border: none;
}
.sidebar-nav .offcanvas ul li a span {
    font-size: 1.1vh;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before
{
    margin-right: 5px;    
}

.newsfeed{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    max-width: 75%;
    margin-top: 30px;
}

h2{
    flex: content;
    display: flex;
    font-size: 3vh;
}

.article-container {
    display: flex;
    margin: auto;
    max-width: 75%;
    margin-bottom: 15px;
    border: lightgray;
    border-width: 1px;
    border-style: solid;
    padding-right: 10%;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 6px;
}

.article-title {
    margin-bottom: 5px;
    font-size: 1.3vh;
    font-weight: 600;
}

.image{
    max-width: 30vw;
    border-radius: 6px;
    padding-bottom: 5px;
}

.description-container{
    font-size: 1.2vh;
    max-width: 100%;
    margin-left: 20px;
}

.search-app{
    display: inline-block;
}