<h2 class="mynews">My Saved News</h2>
<div class="newsfeed">
    <div class="article-container" *ngFor="let article of articles">
        <div class="article-content-container">

            <img class="image" src="{{article.urlToImage}}">
        </div>

        <div class="description-container">
            <div class="article-title">{{article.title}}</div>
            {{article.description}}
        </div>
        <button class="url" ><a href="{{article.url}}">
            <i class="bi bi-link"></i></a>
          </button>
    </div>